body{
    background-color: wheat;
}
a{
    color: white !important;
}
.dropdown-item{
    color: black !important;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 20px;
    margin-top: 20px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.cop{
    font-family: coptic;
    margin-top: 15px;
    font-size: 50px;
}
@font-face {
    font-family: coptic;
    src: url(ABRAAM_0.ttf);
}